/* @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap"); */

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  max-width: 100% !important;
  line-height: 2;
  overflow-x: hidden !important;
  background-color: rgb(247, 247, 248);
}

/* Nav and background (wrap) section */

.bg-wrap {
  background: url(/images/mobile_intro_bg.png) center top no-repeat;
  height: auto;
  background-position: right;
  width: 90%;
  background-size: cover;
  padding: 0 5%;
}

.bar1,
.bar2,
.bar3 {
  width: 2.2rem;
  height: 0.35rem;
  background-color: #333;
  margin: 0.33rem 0 0 0;
}

.before-h12 {
  color: #f16101;
  font-size: 20px;
  padding-top: 1.5rem;
}

.nav-list {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(239, 81, 60);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.nav-list a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.nav-list a:hover {
  color: #f1f1f1;
}

.nav-list .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  color: white;
  padding: 10px 15px;
  border: none;
  scroll-behavior: initial;
  touch-action: none;
  -ms-touch-action: none;
  overflow-y: hidden;
}

ul li {
  display: block;
  list-style: none;
  padding-left: 0;
}

h1 {
  font-weight: 700;
  line-height: 1;
  font-size: 29px;
  background: linear-gradient(to right, #ff1100, #3d0703fb, #f16101);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.paragraph {
  line-height: 1;
  font-size: 13px;
  text-align: center;
  padding-bottom: 1rem;
}

.landing h2 {
  line-height: 1;
  text-align: center;
}

.description-container {
  height: auto;
  padding: 1rem;
  position: relative;
  border: 3px solid white;
  width: 100%;
  background-color: rgb(247, 247, 248);
}

#main,
#main-program {
  width: 90%;
}

.flex {
  display: flex;
  align-items: center;
}

/* main program */

#main-program {
  text-align: center;
  align-items: center;
  background-color: rgb(51, 51, 51);
  padding-top: 1.5rem;
  width: 100%;
}

.hr {
  width: 1.875rem;
  border-color: rgb(239, 81, 60);
  margin-bottom: 1rem;
}

.program-list {
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
}

.program-list h2 {
  color: #fff;
}

.bg-program {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 2fr;
  background: rgba(255, 255, 255, 0.1);
  margin: 0.5rem 0% 0% 0%;
  text-align: left;
  padding: 0 0.5rem 0 0;
  width: 100%;
  line-height: 1.5;
}

.bg-program img {
  padding: 0%;
}

.bg-program li h3 {
  color: rgb(239, 81, 60);
  font-size: 0.875rem;
  vertical-align: middle;
  padding: 0%;
  width: 60px;
}

.bg-program li p {
  font-size: 0.75rem;
  color: #fff;
  margin-left: 0%;
}

.join-btn {
  width: auto;
  background-color: rgb(239, 81, 60);
  margin-top: 4rem;
  position: relative;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 1.5rem 0;
  border: none;
  align-items: center;
  text-align: center;
}

.join-btn a {
  color: #fff;
  text-decoration: none;
  padding: 1rem 2rem;
}

/* Featured Speakers */

#featured-speakers {
  background-color: #fff;
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 4rem;
  width: 100%;
}

.speaker-info {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 2fr;
  margin: 0.5rem 0%;
  padding: 0 5%;
  width: 90%;
  line-height: 1;
  justify-items: left;
}

.speaker-info img {
  width: 100%;
  height: auto;
}

.speaker-info ul {
  padding-inline-start: 1rem;
  margin-block-start: 0%;
}

.speaker {
  margin: 0;
  text-align: left;
  line-height: 1;
  font-size: 12px;
}

.speaker hr {
  margin-inline-start: 0;
  width: 20px;
}

.speaker-post {
  color: #ff1100;
}

/* About section */

#About {
  text-align: center;
}
.before-h1 {
  color: #f16101;
  font-size: 20px;
  padding-top: 3rem;
}

.about-headline {
  color: #ff1100;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
}

.about-description {
  background-color: #fff;
  margin: 1rem 5% 2rem;
  padding: 5%;
  text-align: center;
  width: 80%;
}

.about {
  background-image: url("/images/mobile_intro_bg.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3rem;
}

.email-contact {
  margin-bottom: 0;
}

.about a {
  font-size: 12px;
  padding-top: 0;
}

.cc-logo {
  width: 90%;
  background-color: #fff;
  padding: 2rem 5% 0;
  align-items: center;
}

.cc-logo h2 {
  font-size: 28.5px;
  line-height: 1.5;
  text-align: center;
}

div .img-logo {
  border: 2px solid rgba(228, 222, 222, 0.555);
  width: 60%;
  padding: 2rem;
  margin: auto;
}

.boundary-about {
  margin-top: 2.2rem;
}

.bg-white {
  background-color: #fff;
}

.past-summits {
  flex-direction: column;
  background-color: #fff;
  margin-top: ;
}

.past-summits img {
  width: 90%;
  margin-bottom: 2rem;
}

#partner {
  background-color: #333;
  padding: 2rem 0;
}

#partner h2 {
  color: #fff;
}

.partner-list li .partner {
  width: 20%;
  height: 60px;
  filter: brightness(0) invert(0) opacity(0.4)
    drop-shadow(0 0 0 rgb(182, 182, 182));
}

/* Footer Section */

#footer {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  place-items: center;
  text-align: left;
  background-color: #fff;
  padding: 2rem 5%;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
  width: 90%;
}

#footer img {
  width: 100%;
  height: auto;
}

#footer ul li {
  font-size: 0.75em;
}

@media screen and (min-width: 768px) {
  .openbtn {
    display: none;
  }

  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 0% 10%;
    background-color: #fff;
    top: 0;
    overflow: hidden;
  }

  header {
    position: fixed;
    background-color: #fff;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .nav-bar img {
    width: 20%;
    height: auto;
  }

  .nav-item:not(:first-child) {
    margin-left: 1rem;
  }

  a {
    text-decoration: none;
  }

  .nav-list-item .nav-about a,
  .nav-list-item .nav-border a {
    color: #f16101;
  }

  .nav-border {
    height: auto;
    padding: 0.2rem 0.5rem;
    position: relative;
    border: 5px solid #f16101;
    width: 100%;
  }
}
