@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #e5e5e5;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  color: black;
  overflow-x: clip !important;
}

header {
  padding: 0 24px 0;
  background-color: #fff;
  width: 100%;
}

.menu-bar {
  display: none;
}

.main {
  padding: 24px 24px 1px;
  border-bottom-left-radius: 80px;
  margin-bottom: 2rem;
  background-image: url("/images/headerbg.png");
  background-size: cover;
  background-position: 100% 10%;
  background-repeat: no-repeat;
  height: 650px;
  width: 100%;
  background-color: #fff;
  margin-top: -2px;
}

.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  width: 100%;
}

.nav-container {
  width: 100%;
  height: 12px;
  color: #6070ff;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  line-height: 24px;
  color: #7485a1;
  width: 100%;
}

.p {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 0;
}

h4 {
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.h4-connect {
  width: 130px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.image {
  width: 100%;
  height: 220px;
  border-radius: 8px;
}

.image-2 {
  width: 100%;
  height: 220px;
  border-radius: 8px;
}

.image img {
  width: 100%;
  height: 100%;
}

.image-2 img {
  width: 100%;
  height: 100%;
}

.card-works,
.card-works1,
.card-works2,
.card-works3 {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: auto;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 5.5rem auto 0;
}

h2 {
  text-align: left;
  width: 250px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0;
}

.item-tag {
  margin: 0 3rem 0 0;
}

.canopy {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

button:not(:first-child) {
  margin-left: 8px;
}

.langbutton button {
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  width: auto;
  height: 24px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.03em;
  border: none;
  font-weight: 500;
  padding: 0 0.5rem;
}

.bend {
  padding: auto 10px;
}

.bend-yr {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.works {
  padding: 16px;
}

.flex {
  display: flex;
}

.item-center {
  justify-items: left;
  padding-left: 0;
}

.icon-tag:not(:first-child) {
  margin: 0 0 0 16px;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #6070ff;
}

h1 {
  font-size: 46px;
  font-weight: 700;
  line-height: 52px;
  width: 300px;
  padding-top: 50px;
  margin-bottom: 0;
  color: #172b4d;
}

.btn {
  font-family: "Poppins", sans-serif;
  width: 120px;
  height: 48px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 10px;
  border: 1px solid #dfe1e6;
  text-align: center;
  letter-spacing: 0.03em;
  background: #fff;
  margin: 12px 0;
  color: #396df2;
}

.btn-big {
  width: 9.5rem;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.div {
  margin-left: 0;
}

#aboutme {
  border-top-right-radius: 80px;
  margin-top: 8rem;
  height: auto;
  width: 100%;
  padding: 16px;
  background: #fff;
}

.aboutme {
  font-weight: 700;
  width: 250px;
  height: 101px;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  color: #172b4d;
  margin-bottom: 0;
}

.base-about-myself {
  padding: 0 18px;
  background-color: #fff;
  height: 600px;
}

.tag-space {
  padding-left: 12px;
}

.lang-img {
  margin-right: 16px;
}

.frameworks,
.skills {
  width: 100%;
  display: flex;
  align-items: center;
  margin-right: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  padding-right: 2rem;
}

hr {
  margin: auto 1px;
  height: 1px;
  background: #dfe1e6;
}

.bg-languages {
  width: 100%;
  height: 66.72px;
  margin: 16px;
  margin-left: 0;
  background: #f7f7f9;
  padding-left: 0.7rem;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
}

#contact-me {
  display: flex;
  justify-content: center;
  background-image: url(./images/Frame.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 779px;
  width: 100%;
}

.contact-intro {
  margin: 7rem 1.5rem 0;
}

.contact-intro h2,
.contact-intro p {
  text-align: center;
}

.contact-intro h2 {
  color: #fff;
}

.contact-intro p {
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
}

.contact-me-text {
  justify-content: center;
  margin-left: 2rem;
}

.form-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 17rem;
}

.form-area {
  margin: 0 1.5rem;
}

.name-area,
.email-area,
.text-area {
  width: 20.4rem;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 0 15px 16px;
}

.name-area,
.email-area {
  height: 3rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
}

.name-area {
  margin-top: 5.5rem;
}

.email-area {
  margin-top: 1.25rem;
}

.text-area {
  margin-top: 1.125rem;
  height: 10.6rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.submit-btn {
  width: 9.4rem;
  height: 3.5rem;
  margin: 1.5rem auto 0 0;
  padding: 0.75rem 1rem;
  background-color: #fff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #6070ff;
  outline: none;
  border: none;
}

button .submit-btn {
  margin-left: 0;
}

.submit-btn:enabled {
  background-color: #fff;
  color: #6070ff;
}

.submit-btn:disabled {
  background-color: #c1c7d0;
  color: gray;
}

.submit-btn:hover {
  background-color: #6070ff;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .works {
    position: relative;
    display: flex;
    flex-direction: row;
    height: auto;
    margin-bottom: 8rem;
  }

  .image {
    width: 50%;
    height: auto;
    padding: 24px 23px 24px 24px;
  }

  .image img {
    width: 100%;
    height: 448px;
  }

  .card {
    position: relative;
    width: 50%;
    height: auto;
    margin-top: 48px;
  }

  .image-2 {
    width: 50%;
    height: auto;
    padding: 24px 22px 24px 23px;
  }

  .image-2 img {
    width: 100%;
    height: 448px;
  }

  .card-2 {
    width: 50%;
    height: auto;
    padding-top: 48px;
  }

  h2 {
    width: 496px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    margin-bottom: 20px;
  }

  .p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin-bottom: 24px;
  }

  .item-tag {
    margin-bottom: 32px;
  }

  .icon-tag:not(:first-child) {
    margin-left: 12px;
  }

  .langbutton {
    margin-bottom: 30px;
  }

  .img-right {
    display: flex;
    flex-direction: row-reverse;
    padding: 24px 22px 24px 48px;
  }

  .nav-container .fa-bars {
    display: none;
  }

  .menu-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 0%;
    margin-right: 9.688rem;
  }

  .nav {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    margin-right: 32px;
  }

  .logo {
    margin-left: 9.688rem;
  }

  .main {
    margin-bottom: 8rem;
    padding-top: 15rem;
    background-image: url("./images/imagebg.png");
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    height: 916px;
    width: 100%;
    background-color: #fff;
  }

  .canopy {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .bend-yr {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .langbutton button:not(:first-child) {
    margin-left: 8px;
  }

  .btn:enabled {
    background-color: #fff;
    color: #6070ff;
  }

  .btn:disabled {
    background-color: #c1c7d0;
    color: gray;
  }

  .btn:hover {
    background-color: #4053fc;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
    color: #fff;
  }

  .btn-big {
    width: 9.5rem;
  }

  .main div {
    margin: 100px 260px 255px 200px;
  }

  h1 {
    width: 500px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    color: #091e42;
  }

  .main p {
    width: 920px;
    height: 98px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    margin: 12px 0;
  }

  .h4-connect {
    margin-bottom: 14px;
  }

  #aboutme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 924px;
    padding: 142px;
  }

  #aboutme .me {
    width: 40%;
    padding-bottom: 13rem;
  }

  #aboutme .base-about-myself {
    width: 60%;
  }

  #contact-me {
    position: relative;
    display: flex;
    justify-content: center;
    background-image: url("./images/imagefooter.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    height: 846px;
    width: 100%;
    margin-top: -20rem;
    text-align: center;
    padding-top: 5rem;
    z-index: 2;
  }

  #contact-me .contact-me-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
    margin-left: 28.5%;
    letter-spacing: 2px;
  }

  .contact-intro h2 {
    color: #fff;
  }

  .contact-intro h2,
  .contact-intro p {
    text-align: center;
  }

  .contact-intro p {
    margin-left: 25%;
    width: 100%;
  }

  #contact-me .contact-intro {
    margin: 10rem;
    margin-left: -7rem;
  }

  .name-area,
  .email-area {
    height: 48px;
    width: 447px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
  }

  .text-area {
    width: 447px;
    height: 170px;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 2px;
  }

  .aboutme {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #091e42;
  }

  #aboutme .aboutme {
    margin-top: 2rem;
  }

  #aboutme p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin: 12px 0;
  }

  #aboutme h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #344563;
    margin-left: 1rem;
    width: 100%;
  }

  .tag-space {
    margin: 26px 0;
  }

  .bg-languages {
    width: 122px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
  }

  .lang-bg {
    display: flex;
  }

  .lang-bg li {
    display: block;
    align-content: center;
  }

  .lang-bg img {
    padding: 12px 0 16px 0;
  }

  .frame-works li {
    margin: 0.5rem 0 0.5rem 1rem;
  }

  .base-about-myself .flex-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.625rem;
  }

  .flex-icon .icon {
    transform: rotate(90deg);
  }

  .image-2,
  .image {
    transition: 2s;
  }
}
